.moon {
  transform: translate(0, 0);
  animation: swing 5000ms ease-in-out 0ms infinite;
}

@keyframes swing {
  0%,
  75%,
  100% {
    transform: translate(5px, 5px);
  }

  25%,
  50% {
    transform: translate(-5px, -5px);
  }
}
