@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
